<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/599b8dd7-aa0c-4316-99cd-195c7a398fc5/resourceGroups/phoneBookAPI20230819215430ResourceGroup/providers/Microsoft.Web/sites/phoneBookAPI20230819215430</ResourceId>
    <ResourceGroup>phoneBookAPI20230819215430ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/599b8dd7-aa0c-4316-99cd-195c7a398fc5/resourceGroups/phoneBookAPI20230819215430ResourceGroup/providers/Microsoft.ApiManagement/service/phoneBookAPI-PROD/apis/phoneBookAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://phonebookapi20230819215430.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>31353533-30d5-4913-836c-64915c4b6f23</ProjectGuid>
    <MSDeployServiceURL>phonebookapi20230819215430.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>phoneBookAPI20230819215430</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$phoneBookAPI20230819215430</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>